body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #2b2b2b;
  color: #ffffff;
  overflow: hidden;
  overscroll-behavior: none;
}
a {
  color: #bb86fc;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #444444;
}
.video-wrapper {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 10px auto;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 15px;
  overflow: visible;
  padding-bottom: 40px;
}

.video-wrapper::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 ratio */
  border-radius: 15px;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.upload-status {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 2;
  left: 0;
  transform: translateY(10px);
}
.mute-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 28px;
  user-select: none;
}
#upload-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#upload-btn:hover {
  background-color: #0056b3;
}
#file-input {
  display: none;
}
.heading-with-icon {
  display: flex;
  align-items: center;
}
.icon {
  width: 50px;
  height: 50px;
  margin-right: 3px;
}
.description-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 12px;
  text-align: left;
  z-index: 10;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.85;
}
.team-overlay {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: white;
  font-size: 14px;
  text-align: left;
  z-index: 10;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.85;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #2b2b2b;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the form */
label, textarea, input, button {
  display: block;
  margin-bottom: 10px;
}